.pricing_fluid {
  background: #f0fbfc;
  padding: 50px 0px;
}
.price-content p {
  margin-right: 54px;
  margin-left: 30px;
}

.btn {
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
