.footer li {
  list-style: none;
  color: #6a737a;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
}
.footer li:hover {
  color: #32aab3;
}
.footer .log  {
    font-size : 40px;
    color:#EE8C1C;
}
.footer .social {
  display: flex;
}
.footer .social li {
  margin-right: 10px;
  font-size: 36px;
}
